/* Container principal */
.ass_layout-container {
  display: flex;
  flex-direction: column; /* header en haut, footer en bas */
  height: 100vh; /* prend toute la hauteur de l'écran */
}

/* Header */
.ass_layout-header {
  width: 100%;
  height: 60px; /* plus pratique que 20px (sinon trop petit) */
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  align-items: center;

}

/* Zone de contenu avec sidebar + main */
.ass_layout-content {
  background-color: #ffffff;
  display: flex;
  flex: 1; /* occupe tout l’espace dispo */
  overflow: hidden; /* évite les scrollbars inutiles */
}

/* Sidebar */
.ass_layout-sidebar {
  width: 30%; /* largeur fixe */
  background-color: #ffffff;
  color: white;
  overflow-y: auto; /* scroll si contenu long */
}

/* Main content */
.ass_layout-main {
  flex: 1; /* prend tout l’espace restant */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  overflow-y: auto;
}


